body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #0d0d0daa;
}

.alert {
  width: 100vw;
  height: 60px;
  background-color: transparent;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  top: -64px;
}

.card-alert {
  width: 326px;
  height: 64px;
  padding: 0 12px;
  background-color: #fff;
}

.card-alert h3 {
  margin-top: 12px;
  color: #14778d;
  font-weight: 600;
  font-size: 15px;
}

.card-alert p {
  color: #1e1e1e;
  font-weight: 500;
  font-size: 14px;
}

header {
  background-color: #f2f0f2;
  padding: 12px 24px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

@media (min-width: 1024px) {
  button {
    cursor: pointer;
  }
}

header .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 12px;
}

header .title h1 {
  font-size: 20px;
  color: #178ca6;
}

header .title p {
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
}

header .title img {
  height: 40px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0;
  background-color: #178ca6;
  min-height: calc(100vh - 220px);
}

main .form {
  max-width: 1440px;
  border-radius: 50px;
  background: #178ca6;
  /* box-shadow:  20px 20px 60px #ceccce,
                 -20px -20px 60px #ffffff; */
  padding: 32px 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  /* column-gap: 96px; */
}

main .form .infos {
  display: flex;
  flex-direction: column;
  /* width: 30%; */
}

main .form .infos h1 {
  color: #fff;
  border-bottom: 2px solid #fff;
  width: fit-content;
  padding-right: 18px;
  padding-bottom: 4px;
}

main .form .infos p {
  font-size: 16px;
  font-weight: 500;
  margin-top: 18px;
  text-align: justify;
  color: #fff;

}

main .form .box-form {
  width: 33%;
}

main .form .box-form.input-box {
  display: flex;
  justify-content: center;
}

.input-cnpj {
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 1em;
  background-color: #f2f0f2;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1);
  transition: 300ms ease-in-out;
}

.input-cnpj:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 4px 4px 8px #cecece50, -4px -4px 100px #ffffff;
}

main .form .form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  position: relative;
  margin: 20px 0 40px;
  width: 190px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
  color: #fff;
  transform: translateY(-30px);
}


.btn-search {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 17px;
  border-radius: 500px;
  overflow: hidden;
  background: #178ca6;
  color: ghostwhite;

  transition: box-shadow 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.btn-search span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
}

.btn-search:hover {
  box-shadow: 12px 12px 24px #14778d,
    -12px -12px 24px #1aa1bf;
}

.btn-search:hover span {
  color: black;
}

.btn-search::before,
.btn-search::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.btn-search::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.btn-search:hover::before {
  transform: translate3d(100%, 0, 0);
}

.historico {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.historico h1 {
  color: white;
}

.area-historico {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 6px;
}


.area-historico .card-historico {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  height: 32px;
  border-radius: 4px;
  width: 230px;
  padding: 0 12px;
  align-items: center;
  justify-content: space-between;
}

.area-historico .card-historico p {
  font-weight: 600;
  color: #1e1e1e;
}

.area-historico .card-historico button {
  background-color: transparent;
  border: none;
  height: 100%;
}

.area-historico .card-historico button img {
  height: 70%;
}

.area-cnpj {
  display: none;
  flex-direction: column;
  max-width: 95vw;
  row-gap: 48px;
}

.area-cnpj .title-consulta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 48px);
  background-color: #fff;
  border-radius: 8px;
  padding: 6px 24px;
  background: linear-gradient(180deg, #ffffff 35%, #f2f0f2);
  color: #14778d;
  align-items: center;
}

.area-cnpj .title-consulta span {
  color: #1e1e1e;
}

.button-blue {
  cursor: pointer;

  padding: 0.5rem;
  width: 96px;
  background-image: linear-gradient(0deg,
      hsl(189, 92%, 58%),
      hsl(189, 99%, 26%) 100%);

  font-size: 1rem;
  font-weight: 500;
  color: var(--white);

  border: 0;
  border-radius: 12px;
  box-shadow: inset 0 -2px 8px -4px var(--white);
  color: #fff;
}

.area-cnpj .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  column-gap: 96px;
}

.side-col {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.table-padrao {
  width: 900px;
  border-radius: 12px;
  box-shadow: 8px 8px 18px #14778d,
    -8px -8px 18px #1aa1bf;
}



.table-padrao .top-content {
  border-radius: 12px 12px 0 0;
  padding: 8px 16px;
  background-color: #f2f0f2;
  color: #14778d;
}

.table-padrao .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  border-radius: 0 0 12px 12px;
}

.table-padrao .content .row-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #1aa1bf;
}

.table-padrao .content .row-content:nth-last-child(1) {
  border-bottom: none;
}

.table-padrao .content .row-content .column {
  width: calc(50% - 40px);
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* padding: 12px 0; */
}

.table-padrao .content .row-content .column.full {
  width: calc(100% - 40px);
}

.table-padrao .content .row-content .column:nth-last-child(1) {
  justify-content: flex-start;
  border-left: 1px solid #1aa1bf;
}

.table-padrao .content .row-content .column p {
  padding-right: 8px;
}

.cnaes.table-padrao {
  width: 100%;
}

.cnaes.table-padrao .row-content .column:nth-child(1) {
  width: calc(75% - 40px);
}

.cnaes.table-padrao .row-content .column:nth-last-child(1) {
  width: calc(25% - 40px);
}


.quadro-societario {
  display: flex;
  flex-direction: column;
}

.quadro-societario h3 {
  color: white;
  font-size: 20px;
}

.quadro-societario .qsa-null h3 {
  margin-top: 24px;
  text-align: center;
  font-weight: 600;
  color: #1e1e1e;
}

.quadro-societario .scroll-socios {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  overflow-y: auto;
  padding: 18px 24px;
  max-height: 460px;
}

.quadro-societario .scroll-socios::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
  width: 6px;
  background-color: #1aa1bf;
  border-radius: 6px;
}

.quadro-societario .scroll-socios::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #f2f0f2;
  border-radius: 6px;
}

.card-socio {
  --white: hsl(0, 0%, 100%);
  --black: hsl(240, 15%, 9%);
  --paragraph: hsl(0, 0%, 83%);
  --line: hsl(240, 9%, 17%);
  --primary: hsl(189, 92%, 58%);

  position: relative;

  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 420px;
  height: 188px;
  background-color: white;
  box-shadow: 6px 6px 12px #14778d,
    -6px -6px 12px #1aa1bf;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  border-radius: 1rem;
}

.card-socio .card__border {
  overflow: hidden;
  pointer-events: none;

  position: absolute;
  z-index: -10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background-image: linear-gradient(0deg,
      hsl(0, 0%, 100%) -50%,
      hsl(0, 0%, 40%) 100%);

  border-radius: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}



.card-socio .card_title__container {
  width: -webkit-fill-available;
}

.card-socio .card_title__container .card_title {
  font-size: 1rem;
  color: var(--black);
  font-weight: 600;
  text-transform: capitalize;
}

.card-socio .card_title__container .card_paragraph {
  margin-top: 0.25rem;
  width: 65%;
  font-size: 14px;
  color: var(--black);
}

.card-socio .line {
  width: 100%;
  height: 1px;
  background-color: var(--primary);

  border: none;
}

.card-socio .card__list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0px;
}

.card-socio .card__list .card__list_item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card-socio .card__list .card__list_item .topic {
  /* color: black; */
  font-size: 16px;
  font-weight: 400;
}

.card-socio .card__list .card__list_item .list_text {
  font-size: 16px;
  /* color: var(--black); */
}

@media (min-width: 1024px) and (max-width: 1560px) {
  .area-cnpj {
    width: 95vw;
  }

  .area-cnpj .row {
    column-gap: 48px;
  }

  .area-cnpj .row .side-col {
    width: calc(70% - 24px);
  }

  .table-padrao {
    width: calc(100%);
  }

  .quadro-societario {
    width: calc(30% - 24px);
  }

  .card-socio {
    width: calc(100% - 36px);
    height: auto;
  }
}

@media (min-width: 1024px) and (max-width: 1340px) {
  .area-cnpj .row .side-col {
    width: calc(60% - 24px);
  }

  .quadro-societario {
    width: calc(40% - 24px);
  }

  .quadro-societario .scroll-socios {
    max-height: 800px;
  }
}

@media (max-width: 1260px) {
  .area-cnpj .row .side-col .table-padrao .row-content {
    flex-direction: column;
  }

  .area-cnpj .row .side-col .table-padrao .row-content .column {
    width: calc(100% - 40px);
  }

  .area-cnpj .row .side-col .table-padrao .row-content .column:nth-last-child(1) {
    border-top: 1px solid #1aa1bf;
  }

  .area-cnpj .row .side-col .table-padrao .row-content p {
    width: 40%;
  }
}

@media (max-width: 1024px) {
  main .form {
    flex-direction: column;
    row-gap: 24px;
  }

  main .form .box-form {
    width: 100%;
  }

  main .form .form-control {
    margin: 20px 0 0 0;
  }

  .historico {
    align-items: center;
  }

  .historico .area-historico {
    align-items: center;
  }

  .area-cnpj .title-consulta {
    width: calc(100% - 24px);
    padding: 6px 12px;
    font-size: 14px;
  }

  .area-cnpj .title-consulta span {
    color: #1e1e1e;
  }

  .area-cnpj .row {
    flex-direction: column;
  }

  .side-col {
    width: 100%;
  }


  .area-cnpj .table-padrao .row-content .column {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border-left: none !important;
  }

  .area-cnpj .side-col .table-padrao .row-content .column p {
    width: 100%;
    color: #000;
    margin-bottom: 4px;
  }

  .area-cnpj .table-padrao.cnaes .content .row-content {
    flex-direction: column;
  }

  .area-cnpj .table-padrao.cnaes .row-content .column {
    flex-direction: row;
  }

  .cnaes.table-padrao .row-content .column {
    width: calc(100% - 40px) !important;
    align-items: flex-start;
  }

  .table-padrao {
    width: 100%;
  }

  .area-cnpj .row .quadro-societario {
    margin-top: 24px;
    width: calc(100% - 48px);

  }

  .area-cnpj .row .quadro-societario .scroll-socios {
    /* flex-direction: row; */
    column-gap: 24px;
    width: 100%;
  }

  .area-cnpj .row .quadro-societario .scroll-socios .card-socio {
    width: calc(100% - 48px);
  }


}


.modal {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #00000050;
  z-index: 100;
  top: 0;
  align-items: center;
  justify-content: center;
}

.modal form {
  width: 90vw;
  height: 70vh;
  background-color: #fff;
  border-radius: 24px;
  padding: 32px 24px;
}

.modal form .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #14778d;
}

.modal form .top button {
  width: 32px;
  height: 32px;
}

.modal form .area-inputs {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  max-height: 80%;
  overflow-y: auto;
  padding-right: 24px;
}

.modal form .area-inputs .row {
  column-gap: 32px;
}

.modal form .area-inputs .box-input {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  row-gap: 12px;
}

.modal form .area-inputs .box-input label {
  font-weight: 600;
  font-size: 16px;
  color: #1e1e1e;
}

.modal form .area-inputs .box-input input,
.modal form .area-inputs .box-input select {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #f2f0f2;
  border-radius: 4px;
  height: 28px;
  padding: 0 12px;
}

.modal form .btn-area {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 24px;
}


@media (max-width: 1024px) {
  .modal form .top {
    align-items: center;
  }

  .modal form .top h1 {
    font-size: 16px;
  }

  .modal form .area-inputs {
    row-gap: 12px;
    max-height: calc(100% - 120px);
  }

  .modal form .area-inputs .row {
    flex-direction: column;
    row-gap: 12px;
  }

  .modal form .area-inputs .box-input label,
  .modal form .area-inputs .box-input input,
  .modal form .area-inputs .box-input select {
    font-size: 14px;
  }
}



footer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-weight: 600;
  font-size: 12px;
}